ion-header::after {
    background-image: none;
  }
.content {
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    h1 {
        font-weight: 900;
    }
    .paragraph {
        font-size: 1.3em;
        margin-bottom: 20px;
    }
    ul {
        padding-left: 30px;
    }

}