
<ion-header no-border no-shadow mode="md">
  <ion-toolbar mode="md">
    <ion-buttons slot="start">
      <ion-button (click)="close()" >
        <ion-icon name="chevron-back" style="font-size: 2em!important;" color="primary" ></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Learn more</ion-title>
    <div slot="end" style="width: 48px"></div>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding" mode="md">
  <div class="content">
    <h1>Heart rate</h1>
    <h3 class="paragraph">
      <p>
        Heart rate is the number of times the heart beats per
        minute (BPM). The resting heart rate of an adult is
        generally between 55 to 80 BPM. However, it varies with
        age, gender, and other factors. The heart rate increases
        during exercise. Athletes with better cardio respiratory
        fitness usually have a slower heart rate than the average
        adult.
      </p>
    </h3>
    <h1>Heart rate zones</h1>
    <h3 class="paragraph">
      <p>
        We record the duration of 5 heart rate zones. Each of them
        is suitable for different types of exercise.
      </p>
      <ul>
        <li>
          <p>When the heart rate is at 50%-60% of its maximum
            capacity, this is suitable for dynamic warm-ups before
            running and for cool-downs after running.
          </p>
        </li>
        <li>
          <p>When the heart rate is at 61%-70% of its maximum
            capacity, the body mainly supplies energy for exercise
            by burning fat, which can effectively reduce fat or
            control your body fat rate.
          </p>
        </li>
        <li>
          <p>When the heart rate is at 71%-80% of its maximum
            capacity, carbohydrates are the body's main source of
            energy, which can effectively strengthen your
            cardiopulmonary functions.
          </p>
        </li>
        <li>
          <p>When the heart rate is at 81%-90% of its maximum
            capacity, there is an increased accumulation of lactic
          </p>
        </li>
      </ul>
    </h3>
  </div>
</ion-content>
