
<ion-header no-border no-shadow mode="md">
  <ion-toolbar mode="md">
    <ion-buttons slot="start">
      <ion-button (click)="close()" >
        <ion-icon name="chevron-back" style="font-size: 2em!important;" color="primary" ></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Learn more</ion-title>
    <div slot="end" style="width: 48px"></div>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding" mode="md">
  <div class="content">
    <h1>Heart rate</h1>
    <h3 class="paragraph">
      <p>
        Heart rate refers to the number of times a person's heart 
        beats per minute (BPM). It is a measure of the heart's 
        activity and indicates how efficiently the heart is 
        pumping blood to the body's organs and tissues. A normal 
        resting heart rate for adults is typically between 60 
        to 100 beats per minute but can vary based on factors 
        such as age, fitness level, and health status. 
        Exercise, stress, and certain medications can also impact heart rate. 
        Heart rate is typically measured by taking the pulse at the wrist, 
        neck, or chest or using a heart rate monitor device.
      </p>
    </h3>
    <h1>Resting Heart Rate</h1>
    <h3 class="paragraph">
      <p>
        Resting heart rate refers to the number of times a person's 
        heart beats per minute when they are at rest or sitting quietly. 
        It varies from person to person. It is measured after a person 
        has been at rest for at least 5 minutes and has not engaged 
        in any physical activity or consumed caffeine or other 
        stimulants that could affect the heart rate.
      </p>
    </h3>
    <h1>Normal Results for Resting Heart Rate:</h1>
    <h3 class="paragraph"><strong>Newborns 0 to 1-month-old: </strong>70 to 190 beats per minute</h3>
    <h3 class="paragraph"><strong>Infants 1 to 11 months old: </strong>80 to 160 beats per minute</h3>
    <h3 class="paragraph"><strong>Children 1 to 2 years old: </strong>80 to 130 beats per minute</h3>
    <h3 class="paragraph"><strong>Children 3 to 4 years old: </strong>80 to 120 beats per minute</h3>
    <h3 class="paragraph"><strong>Children 5 to 6 years old: </strong>75 to 115 beats per minute</h3>
    <h3 class="paragraph"><strong>Children 7 to 9 years old: </strong>70 to 110 beats per minute</h3>
    <h3 class="paragraph"><strong>Children 10 years and older, and adults (including seniors): </strong>60 to 100 beats per minute</h3>
    <h3 class="paragraph"><strong>Well-trained athletes: </strong>40 to 60 beats per minute</h3>
    <h1>Causes of changes in Heart Rate</h1>
    <h3 class="paragraph">
      <p>
        We record the duration of 5 heart rate zones. Each of them
        is suitable for different types of exercise.
      </p>
      <ul>
        <li>
          <p>
            <strong>Exercise: </strong>
            When the heart rate is at 50%-60% of its maximum
            capacity, this is suitable for dynamic warm-ups before
            running and for cool-downs after running.
          </p>
        </li>
        <li>
          <p>
            <strong>Stress and emotions: </strong>
            Strong emotions, such as anger, depressed mood, anxiety, or 
            excitement, can trigger the release of adrenaline, 
            which can increase heart rate.
          </p>
        </li>
        <li>
          <p>
            <strong>Medications: </strong>
            Certain drugs could affect the heart's rhythm, such as anesthetics and antibiotics.
          </p>
        </li>
        <li>
          <p>
            <strong>Health Conditions: </strong>
            Certain medical conditions such as high blood pressure, 
            autoimmune disorders, sleep apnea, etc. may cause heart rhythm problems.
          </p>
        </li>
        <li>
          <p>
            <strong>Age: </strong>
            Resting heart rate decreases as you get older.
          </p>
        </li>
        <li>
          <p>
            <strong>Genetics: </strong>
            Some individuals may have naturally higher or lower resting heart rates due to genetic factors.
          </p>
        </li>
      </ul>
    </h3>
    <h3 class="paragraph">
      <p>
        Please note that the information provided here is for self-monitoring 
        purposes only and should not be used as a substitute for professional 
        medical advice or diagnosis. If you have any concerns or 
        questions about your health, we strongly recommend that you consult 
        with a healthcare provider. Please seek medical advice if you are 
        experiencing any health problems or concerns.
      </p>
    </h3>
  </div>
</ion-content>
