
<ion-content>
  <div class="modal-container">
    <div class="dialog">
      <ion-avatar class="pet-bubble" (click)="editPetModal.present();" matRipple>
        <img alt="profile" [src]="isAuthenticated ? getPetCompanionProfile(user.petCompanion.petCompanionId) : ''" (error)="profilePicErrorHandler($event, 'pet')" />
      </ion-avatar>
      <div class="menu">
        <div class="menu-header">
          <h1 class="message">Hi!, how may I help you today?</h1>
        </div>
        <div class="menu-body">
          <div matRipple class="item-holder" (click)="onShowNotif()">
            <ion-item  fill="outline" lines="none">
              <ion-icon name="notifications-outline" slot="start"></ion-icon>
              <ion-label>Notifications</ion-label>
              <ion-label slot="end"><h3 class="count" *ngIf="totalUnreadNotification > 0">{{totalUnreadNotification > 99 ? '99+' : totalUnreadNotification}}</h3></ion-label>
            </ion-item>
          </div>
          <div matRipple class="item-holder" (click)="onOpenTimeline()">
            <ion-item  fill="outline" lines="none">
              <ion-icon name="time-outline" slot="start"></ion-icon>
              <ion-label>Timeline</ion-label>
            </ion-item>
          </div>
          <div matRipple class="item-holder" (click)="openHeartRate()">
            <ion-item  fill="outline" lines="none">
              <ion-icon name="pulse-outline" slot="start"></ion-icon>
              <ion-label>Heart rate</ion-label>
            </ion-item>
          </div>
        </div>
        <div class="menu-footer">
          <ion-fab>
            <ion-fab-button (click)="close()" >
              <ion-icon name="close-outline"></ion-icon>
            </ion-fab-button>
          </ion-fab>
        </div>
      </div>
    </div>
  </div>

  <ion-modal 
    #editPetModal
    [initialBreakpoint]="1" 
    [breakpoints]="[0, 1]" 
    class="edit-pet-modal"
    (didPresent)="setSelected(user.petCompanion.petCompanionId)"
    >
    <ng-template>
      <ion-header class="new-journal" no-border no-shadow mode="md">
        <ion-toolbar mode="md">
          <ion-buttons slot="start">
            <ion-button (click)="editPetModal.dismiss()" >
              <ion-icon name="chevron-back" style="font-size: 2em!important;" color="primary" ></ion-icon>
            </ion-button>
          </ion-buttons>
          <ion-title class="ion-text-center">Select Pet Companion</ion-title>
          <div slot="end" style="width: 48px"></div>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding" mode="md">
        <div class="form-container">
          <div class="form-field-group">
            <swiper-container #swiperContainer [ngClass]="{ 'touched': isTouchingSlide }" #swiper class="swiper-container" (activeindexchange)="activeIndexChange($event)" (touchstart)="isTouchingSlide = true;" (touchend)="isTouchingSlide = false;">
              <swiper-slide>
                <div class="pet-container">
                  <img [src]="getPetCompanionProfile('1')">
                </div>
              </swiper-slide>
              <swiper-slide>
                <div class="pet-container">
                  <img [src]="getPetCompanionProfile('2')">
                </div>
              </swiper-slide>
              <swiper-slide>
                <div class="pet-container">
                  <img [src]="getPetCompanionProfile('3')">
                </div>
              </swiper-slide>
            </swiper-container>
          </div>
        </div>
      </ion-content>
      <ion-footer>
        <ion-toolbar>
          <ion-button
            mode="md"
            type="submit"
            expand="full"
            shape="round"
            size="large"
            color="primary"
            form="editPetForm">
            Save
          </ion-button>
        </ion-toolbar>
      </ion-footer>
    </ng-template>
  </ion-modal>
</ion-content>
