.swiper-container {
  width: 60%;
  overflow: visible;
  .emoji-type {
   display: flex;
   align-items: center;
   justify-content: center;
   .head {
    scale: 0.5;
    transition: all 0.3s;
   }
  }
  &.touched {
   .emoji-type {
    .head {
     scale: 0.5!important;
    }
   }
  }
  :not(.swiper-slide-active) {
    .emoji-type {
     .head {
      opacity: 0.2;
     }
    }
  }
  .swiper-slide-active {
    .emoji-type {
     .head {
      scale: 0.8;
     }
    }
  }
}